body{
  background-color: #eee;
}
.text-blue {
  color: #455ba6;
}
.text-red {
  color: #ff5454;
}
.text-brown {
  color: #683F34;
}

.recipe {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #777;

  height: 80px;
  overflow: hidden;
  position: relative;

  border: 1px solid #ccc;
  box-shadow: 1px 2px 6px #333;
  margin: 8px;
  transition: all .5s;
}
.recipe.focus {
  height: 180px;
  margin: 15px 8px;
  box-shadow: 3px 4px 14px #333;
  transform: scale(1.025);
}
.recipe .overlay {
  height: 100%;
  background: linear-gradient(135deg, rgba(255,255,255,0) 40%,rgba(255,255,255,0.5) 81%,rgba(255,255,255,0.75) 100%);
  border-top-left-radius: 10px;
  position: relative;
}
.recipe .text-content {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 8px 8px 35px;
  text-align: right;
  text-shadow: 0 0 5px #fff;
}
.recipe .text-content h1 {
  font-size: 1.1em;
  font-weight: bold;
}
