form.addEditRecipeForm {
  margin: 8px;
}
form input:not([type="file"]),
form textarea,
button {
  box-sizing: border-box;
  width: 100%;
  margin: 4px 0;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.ratingSelection {
  display: flex;
}
.ratingSelection button i.fa {
  font-size: 1.2em;
}
.ratingSelection button {
  background-color: #ddd;
}
.ratingSelection button:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.ratingSelection button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
.ratingSelection button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}
#recipeInstructions {
  height: 100px;
}
#picUpload {
  display: none;
}
